{% extends 'admin/dashboard.html.twig' %}
{% block title %}<title>Julien Delacourt - Dashboard - Toutes les Réalisations</title>{% endblock %}
{% block header %}
<h2 class="pageheader-title">Dashboard - Toutes les Réalisations</h2>
<div class="page-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumb %}
            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Toutes les Réalisations</li>
            {% endblock %}
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Toutes les Réalisations</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">Titre</th>
                                <th class="border-0">Contenu</th>
                                <th class="border-0">Image</th>
                                <th class="border-0">Url</th>
                                <th class="border-0">Année</th>
                            </tr>
                        </thead>
                        <tbody>
                    	{% for realisation in realisations %}
                			<tr>
                				<td>{{ realisation.title }}</td>
                				<td>{{ realisation.body|raw }}</td>
                				<td>
                                    <div class="m-r-10">
                                    	<img src="{{ asset('images/realisations/'~ realisation.image) }}" alt="{{ realisation.title }}" class="rounded" width="45">
                                    </div>
                                </td>
                                <td>{{ realisation.url }}</td>
                                <td>{{ realisation.year}}</td>
                			</tr>
                    	{% else %}
				       	Pas encore de Réalisations
				    	<hr>
				       	{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
