<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Julien Delacourt - Développeur Web JAVA / PHP{% endblock %}</title>
        {% block stylesheets %}
       	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CLibre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	    <link href='{{ asset('css/app.css') }}' rel='stylesheet' type='text/css'>
	    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
	    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src='https://www.google.com/recaptcha/api.js'></script>


        {% endblock %}
    </head>
    <body>
        {% block body %}

        	{% block header %}
        		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			        <div class="container">
			            <a class="navbar-brand" href="{{ path('main') }}"><img src="{{ asset('images/logo.png') }}" alt="julien delacourt - développeur web sur montpellier" /></a>
			            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			                Menu
			                <i class="fa fa-bars"></i>
			            </button>
			            <div class="collapse navbar-collapse" id="navbarResponsive">
			                <ul class="navbar-nav ml-auto">
			                    <li class="nav-item">
			                        <a href="{{ path('experiences') }}" class="nav-link">Expériences</a>
			                    </li>
			                    <li class="nav-item">
			                        <a href="{{ path('skills') }}" class="nav-link">Compétences</a>
			                    </li>
			                    <li class="nav-item">
			                        <a href="{{ path('cursus') }}" class="nav-link">Cursus</a>
			                    </li>
			                    <li class="nav-item">
			                        <a href="{{ path('realisations') }}" class="nav-link">Portfolio</a>
			                    </li>
			                     <li class="nav-item">
			                        <a href="{{ path('contact') }}" class="nav-link">Contact</a>
			                    </li>
          								<li class="nav-item">
          									<a href="{{ asset('downloads/Julien Delacourt Java Dev.pdf') }}" class="nav-link" target="blank">Mon CV PDF</a>
          								</li>
			                </ul>
			            </div>
			        </div>
			    </nav>

			        <!-- Page Header -->
			    <header class="masthead" style="background-image: url('http://delakdev.fr/images/home-bg.jpg')">
			        <div class="overlay"></div>
			        <div class="container">
			            <div class="row">
			                <div class="col-lg-8 col-md-10 mx-auto">
			                    <div class="site-heading">
			                        <h1>Julien Delacourt</h1>
			                        <span class="subheading">Développeur Web JAVA / PHP</span>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </header>
        	{% endblock %}

        	{% for message in app.flashes('success') %}
	            <div class="alert alert-success">
	                {{ message }}
	            </div>
	        {% endfor %}

	         {% for message in app.flashes('warning') %}
	            <div class="alert alert-warning">
	                {{ message }}
	            </div>
	        {% endfor %}

	         {% for message in app.flashes('danger') %}
	            <div class="alert alert-danger">
	                {{ message }}
	            </div>
	        {% endfor %}

        {% endblock %}
        <div class="container">
	        {% block content %}
	        {% endblock %}
    	</div>
        {% block footer %}
        <footer>
        	<div class="container">
		      <div class="row">
		          <div class="col-lg-8 col-md-10 mx-auto">
		              <ul class="list-inline text-center">
		                  <li class="list-inline-item">
		                      <a href="https://github.com/jdelak" target="_blank"><i class="fab fa-github-square"></i></a>
		                  </li>
		                  <li class="list-inline-item">
		                      <a href="https://www.linkedin.com/in/juliendelacourt1991" target="_blank"><i class="fab fa-linkedin"></i></a>
		                  </li>
		              </ul>

		              <p class="copyright text-muted">Copyright &copy;  2015-2019 - delakdev.fr<br>Logo réalisé par <a href="http://www.julie-delporte.fr/" target="blank">Julie Delporte</a></p>
		          </div>
		      </div>
		    </div>
		</footer>
        {% endblock %}
        {% block javascripts %}
        <script type = 'text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
           <script type='text/javascript' src="{{ asset('js/delak.js') }}"></script>
        {% endblock %}
    </body>
</html>
