{% extends 'base.html.twig' %}

{% block title %}Julien Delacourt - Mes Expériences pro{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12 mx-auto">
    <h2>Mes Experiences</h2>
    <br>
    <hr>
    {% for experience in experiences %}
      
      <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center realisation-img">
            <a href="{{ experience.url }}"><img class="img-fluid" src="{{ asset('images/experiences/'~ experience.image) }}" alt="{{ experience.entreprise }}"/></a>
          </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="realisation-desc">
              <h3 class="text-center">{{ experience.title }}</h3>
              <h4>{{ experience.entreprise }}</h4>
              <h5>{{ experience.year }}</h5>
              {{ experience.body|raw }}
            </div>
          </div>
      </div>
    <hr>
    {% else %}
    Pas d'expériences
    {% endfor %}
    <br>
  </div>
</div>

{% endblock %}
